body {
  background-image: linear-gradient(
    315deg,
    rgb(190, 190, 190) 0%,
    rgb(241, 241, 241) 90%
  );
  width: 100%;
}

nav {
  min-width: 100%;
  height: 75px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  min-width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

nav ul a {
  margin: 1rem;
  text-decoration: none;
  color: rgb(49, 49, 49);
  padding: 2rem;
  font-family: 'Russo One', sans-serif;
}

a:hover {
  color: rgb(136, 136, 136);
}

a {
  text-decoration: none;
  color: rgb(49, 49, 49);
  padding: 2rem;
}

li {
  text-transform: uppercase;
}

#aboutme {
  font-size: 30px;
  text-align: center;
}
h1 {
  font-family: 'Russo One', sans-serif;
  align-items: center;
  color: rgb(49, 49, 49);
  text-transform: uppercase;
}
#heidi {
  display: flex;
}
#himg {
  width: 250px;
  height: 250px;
}

#Iconlink {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 50px;
  justify-content: space-between;
  color: rgb(49, 49, 49);
}
#israel {
  display: flex;
}
#israelicon {
  padding-left: 550px;
}

#pedro {
  display: flex;
}

#pedroimg {
  width: auto;
  height: 250px;
}

#Sergii {
  display: flex;
}

#erich {
  display: flex;
}

p {
  margin: 0 5rem;
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.5rem;
  font-size: 20px;
}

#image {
  background-image: url('../images/background-image.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  height: 400px;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

h2 {
  font-family: 'Bilbo Swash Caps', cursive;
  text-align: center;
  /* transform: translateY(55%); */
  font-size: 12rem;
  color: rgba(241, 241, 241, 0.842);
}

div img {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#container-one {
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin: auto;
}

.p-text {
  display: flex;
  align-items: center;
}
#top {
  width: 70%;
  margin: 0 auto;
  /* min-width: 100vw; */
  display: flex;
  justify-content: space-between;
  color: rgb(49, 49, 49);
  /* padding: 2rem; */
  font-family: 'Russo One', sans-serif;
  text-transform: uppercase;
}

#top a {
  width: 156px;
}
html {
  scroll-behavior: smooth;
}

i {
  font-size: 2rem;
}

#section1,
#section2,
#section3,
#section4,
#section5 {
  width: 90%;
  margin: 0 auto;
}

#section2 h1,
#section4 h1 {
  text-align: right;
  margin-bottom: 1rem;
}

#section3 h1,
#section5 h1 {
  margin-bottom: 1rem;
}

#section1 img,
#section2 img,
#section3 img,
#section4 img,
#section5 img {
  width: 250px;
  height: 250px;
}
