.card-container {
  width: 600px;
  height: 450px;
  margin: 0 auto 100px auto;
  display: flex;
  perspective: 1000px;
}

.card {
  width: 600px;
  height: 450px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .8s;
  object-fit: fill;
}

.card.flip {
  transform: rotateY(180deg);
}

/* .card:active {
  transform: scale(0.97);
  transition: transform .2s;
} */


.front-face,
.back-face {
  /* width: 600px;
  height: 400px; */
  position: absolute;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back-face {
  height: 450px;
  transform: rotateY(180deg);
}


