body {
  background-image: linear-gradient(
    315deg,
    rgb(190, 190, 190) 0%,
    rgb(241, 241, 241) 90%
  );
}

nav {
  min-width: 100vw;
  height: 75px;
  display: inline-flex;
  justify-content: space-between;
  /* background-color: rgb(71, 71, 71); */
  align-items: center;
}

nav ul {
  min-width: 100vw;
  display: inline-flex;
  justify-content: space-between;
}

nav ul a {
  margin: 1rem;
  text-decoration: none;
  color: rgb(49, 49, 49);
  padding: 2rem;
  font-family: 'Russo One', sans-serif;
  text-transform: uppercase;
}

a:hover {
  color: rgb(136, 136, 136);
}

#image {
  /* display: flex;
    align-items: center; */
  /* text-align: center; */
  background-image: url('/images/background-image.jpg');
  min-width: 100%;
  height: 400px;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

h2 {
  font-family: 'Bilbo Swash Caps', cursive;
  text-align: center;
  transform: translateY(55%);
  font-size: 12rem;
  /* color: rgba(192, 32, 24, 0.8); */
  color: rgba(241, 241, 241, 0.842);
  /* text-shadow: rgb(18, 33, 48) 1px 0 15px; */
}

a {
  text-decoration: none;
}

.uqc {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  line-height: 3rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: 'Russo One', sans-serif;
}

.quizcontainer {
  border-radius: 10px;
  width: 600px;
  overflow: hidden;
  display: grid;
  place-content: center;
}

#quizheader {
  padding: 4rem;
}

button {
  width: 100%;
  border: none;
  cursor: pointer;
  padding: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 5px;
  font-family: 'Russo One', sans-serif;
  /* margin-bottom: 7rem; */
}

#quizquestion {
  text-align: center;
  padding: 20px;
  font-size: 1.3rem;
  text-decoration: underline;
}

img {
  width: 600px;
  margin-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#quizheader li {
  margin: 0 0 0 15rem;
}

label {
  cursor: pointer;
}
